@import '@arco-design/web-react/dist/css/arco.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 200, 255, 0.5);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 200, 255, 0.7);
}
  